.wrapper {
  background-color: #ffde40;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8.1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

button {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}

.nav__position {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  padding: 1rem 0 1rem 0;
  width: 100%;
  background: #ffde40;
}
.nav__img {
  padding-right: 9.3rem;
}
.nav__menu {
  padding-right: 12.5rem;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}
.nav__logo {
  max-width: 9.5rem;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  padding-right: 0.9rem;
}
.nav__item:last-child {
  padding: 0;
}
.nav__link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.scooter {
  margin-bottom: 8rem;
}
.scooter__container {
  position: relative;
  margin-bottom: 2rem;
}
.scooter__img--one {
  width: 100%;
}
.scooter__img--two {
  width: 100%;
  display: none;
}
@media screen and (max-width: 768px) {
  .scooter__img--two {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .scooter__img--one {
    display: none;
  }
}
.scooter__title {
  position: relative;
  margin-bottom: 2.6rem;
}
.scooter__subtitle {
  font-size: 2.25rem;
  font-weight: 900;
  max-width: 28rem;
  line-height: 1;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .scooter__subtitle {
    font-size: 2.2rem;
    font-weight: 900;
    max-width: 34.25rem;
    line-height: 1;
    position: relative;
    max-width: 40rem;
  }
}
.scooter__svg {
  position: relative;
}
.scooter__line--one {
  max-width: 100%;
}
.scooter__line--two {
  display: none;
}
@media screen and (max-width: 768px) {
  .scooter__line--two {
    display: block;
    margin-left: 10.8rem;
  }
}
@media screen and (max-width: 768px) {
  .scooter__line--one {
    display: none;
  }
}
.scooter__position {
  position: absolute;
  top: 1.3rem;
}
.scooter__news {
  font-size: 4.6rem;
  font-weight: 900;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .scooter__news {
    font-size: 2.2rem;
    font-weight: 900;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .scooter__news {
    max-width: 62%;
  }
}
.scooter__city {
  font-size: 4.6rem;
  font-weight: 900;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .scooter__city {
    font-size: 2.3rem;
    font-weight: 900;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
  }
}
.scooter__and {
  font-size: 4.6rem;
  font-weight: 900;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .scooter__and {
    font-size: 2.3rem;
    font-weight: 900;
    color: #fff;
  }
}

.btn {
  text-align: center;
  background-color: #21201f;
  height: 2.8rem;
  border-radius: 1.1rem;
  line-height: 2.4rem;
  border: 0.06rem solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn__download {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 1.8rem;
}
@media screen and (max-width: 768px) {
  .btn__download {
    padding: 0px 36px 2px;
    font-size: 1rem;
    border-radius: 0.75rem;
  }
}
.btn__application {
  width: 22.6rem;
  height: 5rem;
  line-height: 4.4rem;
  margin-bottom: 5.5rem;
}
@media screen and (max-width: 768px) {
  .btn__application {
    width: 14.6rem;
    height: 3rem;
    line-height: 4.4rem;
    margin-bottom: 5.5rem;
  }
}
.btn__primary {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.rent {
  margin-bottom: 26.2rem;
}
@media screen and (max-width: 768px) {
  .rent {
    margin-bottom: 0;
  }
}
.rent__main {
  margin-bottom: 5rem;
}
.rent__content {
  margin-bottom: 10.6rem;
}
@media screen and (max-width: 768px) {
  .rent__content {
    margin-bottom: 20rem;
  }
}
.rent__title {
  font-size: 4.6rem;
  font-weight: 800;
  color: #333;
}
@media screen and (max-width: 768px) {
  .rent__title {
    font-size: 2.2rem;
    font-weight: 800;
    color: #333;
  }
}
.rent__scooter {
  max-width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .rent__scooter {
    max-width: 100%;
  }
}
.rent__info {
  max-width: 28.4rem;
}
@media screen and (max-width: 768px) {
  .rent__info {
    max-width: 100%;
  }
}
.rent__info--pic {
  position: relative;
}
.rent__img {
  margin-bottom: 1.3rem;
}
.rent__subtitle {
  font-size: 2.6rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .rent__subtitle {
    font-size: 1.7rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .rent__subtitle--width {
    max-width: 28%;
  }
}
@media screen and (max-width: 480px) {
  .rent__subtitle--width {
    font-size: 2.5rem;
    max-width: 66%;
  }
}
@media screen and (max-width: 375px) {
  .rent__subtitle--width {
    font-size: 2.4rem;
    max-width: 75%;
  }
}
.rent__arrow--one {
  position: absolute;
  top: 3.1rem;
  left: 23rem;
}
@media screen and (max-width: 768px) {
  .rent__svg {
    display: none;
  }
}
.rent__svg--tablet {
  width: 100%;
}
.rent__arrow--two {
  display: none;
}
@media screen and (max-width: 768px) {
  .rent__arrow--two {
    display: inline;
    position: absolute;
    max-width: 100%;
    top: 8rem;
    left: 2rem;
  }
}
.rent__video--tablet {
  display: none;
}
@media screen and (max-width: 768px) {
  .rent__video--tablet {
    display: inline;
  }
}
.rent__img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .rent__img--size {
    max-width: 100%;
  }
}
.rent__video {
  position: absolute;
  top: 0;
  left: calc(50% + 105px);
}
@media screen and (max-width: 768px) {
  .rent__video {
    display: none;
  }
}
.rent__preview {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .rent__preview--tablet {
    width: 100%;
    height: auto;
  }
}
.rent__btn {
  max-width: 57.5rem;
  height: 11.8rem;
  line-height: 4.4rem;
  margin-bottom: 5.5rem;
  text-align: center;
  background-color: #21201f;
  border-radius: 3.5rem;
  line-height: 2.4rem;
  border: 0.06rem solid transparent;
  padding: 2.5rem 4rem 3.1rem;
}
@media screen and (max-width: 768px) {
  .rent__btn {
    width: 100%;
    height: auto;
    line-height: 4.4rem;
    margin-bottom: 5.5rem;
    text-align: start;
    background-color: #21201f;
    border-radius: 3.5rem;
    line-height: 2.4rem;
    border: 0.06rem solid transparent;
    padding: 1rem 1rem 1rem;
  }
}
.rent__roll {
  font-size: 3.3rem;
  font-weight: 800;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .rent__roll {
    font-size: 2.1rem;
    font-weight: 800;
    color: #fff;
  }
}

.ride {
  margin-bottom: 35.6rem;
}
.ride__container {
  background: #fff;
  border-radius: 3.1rem;
  max-width: 62.5rem;
}
@media screen and (max-width: 768px) {
  .ride__container {
    background: #fff;
    border-radius: 3.1rem;
    width: 100%;
    position: relative;
  }
}
.ride__video {
  position: absolute;
  bottom: 79.3rem;
  left: 23.7rem;
}
@media screen and (max-width: 768px) {
  .ride__video {
    position: static;
    margin-bottom: 4.3rem;
  }
}
.ride__content {
  display: none;
}
.ride__list {
  padding: 3.5rem 0 16.5rem 5.8rem;
  max-width: 63.3rem;
}
@media screen and (max-width: 768px) {
  .ride__list {
    padding: 3.5rem 0 0.5rem 5.8rem;
    position: relative;
  }
}
.ride__content--active {
  display: block;
}
.ride__list--video {
  max-width: 100%;
  border-radius: 2rem;
  border: none;
}
@media screen and (max-width: 768px) {
  .ride__list--video {
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    border: none;
  }
}
.ride__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.3rem;
}
.ride__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 3.1rem;
  background-color: grey;
  margin-right: 0.6rem;
  cursor: pointer;
}
.ride__dot--active {
  background: #333;
}
.ride__info {
  max-width: 22.6rem;
  max-height: 100%;
  margin-right: 5.8rem;
  padding-bottom: 5.2rem;
}
.ride__info:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .ride__info {
    max-width: 100%;
    padding-bottom: 0;
  }
}
.ride__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .ride__info--none {
    display: none;
  }
}
.ride__title {
  font-size: 4rem;
  font-weight: 800;
  color: #333;
  padding: 3.8rem 0 2.1rem 0;
}
@media screen and (max-width: 768px) {
  .ride__title {
    font-size: 3rem;
    padding: 3.8rem 0 2.1rem 1rem;
  }
}
.ride__subtitle {
  font-size: 2.4rem;
  line-height: 100%;
  color: #333;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .ride__subtitle {
    font-size: 2rem;
  }
}
.ride__text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
}
@media screen and (max-width: 768px) {
  .ride__text {
    font-size: 1.3rem;
  }
}
.ride__insurance {
  background: #00ca50;
  border-radius: 3.5rem;
  max-width: 100%;
  height: 43.7rem;
  position: absolute;
  left: 27.5rem;
  top: 65.6rem;
}
@media screen and (max-width: 768px) {
  .ride__insurance {
    background: #00ca50;
    border-radius: 3.5rem;
    max-width: 100%;
    height: 20rem;
    position: absolute;
    top: 24rem;
    left: 0;
  }
}
.ride__fon {
  padding-left: 5.3rem;
  padding-top: 5.6rem;
}
@media screen and (max-width: 768px) {
  .ride__fon {
    padding: 2.6rem 1rem 0 2.3rem;
  }
}
.ride__part--text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .ride__part--text {
    font-size: 1.4rem;
    line-height: 120%;
  }
}
.ride__part--link {
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .ride__part--link {
    font-size: 1.4rem;
    line-height: 120%;
  }
}

.item__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.3rem;
}
.item__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 3.1rem;
  background-color: grey;
  margin-right: 0.6rem;
  cursor: pointer;
}
.item__dot--active {
  background: #333;
}

.search {
  background: #fff;
  border-radius: 3.5rem 3.5rem 0 0;
  height: 76.1rem;
  padding-top: 10rem;
}
.search__container {
  width: 57.5rem;
  padding-left: 12.5rem;
}
.search__title {
  font-size: 4rem;
  font-weight: 900;
  color: #333;
  margin-bottom: 1.8rem;
}
.search__subtitle {
  font-size: 2rem;
  font-weight: 600;
  line-height: 130%;
  color: #333;
  margin-bottom: 5rem;
  width: 50rem;
}
.search__map {
  min-height: 41rem;
  margin-bottom: 5rem;
  border-radius: 3.5rem;
  overflow: hidden;
}

.download {
  background: #fff;
  padding-top: 2.1rem;
}
.download__container {
  padding-left: 12.5rem;
}
.download__search {
  background: #fff;
  max-width: 28.4rem;
}
.download__title {
  font-size: 4rem;
  font-weight: 800;
  -webkit-columns: #333;
     -moz-columns: #333;
          columns: #333;
  margin-bottom: 2rem;
}
.download__subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3rem;
}
.download__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 122.5px;
  height: 3rem;
  line-height: 3rem;
  position: relative;
}
.download__plus {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 800;
  top: 0.12rem;
  left: 0.3rem;
}
.download__number {
  width: 12.3rem;
  font-weight: 400;
  padding-left: 0.9rem;
  font-size: 2rem;
  border: 0.12rem solid;
  outline: 0;
  margin-right: 0.6rem;
}
.download__number:focus {
  border-color: #ffdf39;
}
.download__btn {
  background: #ffdf39;
  min-width: 7.6rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.3rem;
}
.download__link {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download__color--black {
  background: #333;
  width: 34.8rem;
  height: 11.2rem;
  border-radius: 3.5rem 3.5rem 0 0;
  position: relative;
  margin-left: 23.2rem;
}
.download__color--yellow {
  background: #ffdf39;
  width: 67.5rem;
  height: 9.3rem;
  border-radius: 3.5rem 3.5rem 0 0;
  position: absolute;
  top: 4.7rem;
  right: 2.8rem;
}
.download__img {
  position: absolute;
  bottom: 0;
  left: 6.25rem;
}

.footer {
  background: #fafafa;
  width: 100%;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #fafafa;
  height: 8.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
.footer__subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
.footer__link {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
}