//Rent
.rent {
  & {
    margin-bottom: 26.2rem;
  }

  & {
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__main {
    margin-bottom: 5rem;
  }

  &__content {
    margin-bottom: 10.6rem;
  }

  &__content {
    @include tablet {
      margin-bottom: 20rem;
    }
  }

  &__title {
    font-size: 4.6rem;
    font-weight: 800;
    color: #333;
  }

  &__title {
    @include tablet {
      font-size: 2.2rem;
      font-weight: 800;
      color: #333;
    }
  }

  &__scooter {
    max-width: 100%;
    position: relative;
  }

  &__scooter {
    @include tablet {
      max-width: 100%;
    }
  }

  &__info {
    max-width: 28.4rem;
  }

  &__info {
    @include tablet {
      max-width: 100%;
    }
  }

  &__info--pic {
    position: relative;
  }

  &__img {
    margin-bottom: 1.3rem;
  }


  &__subtitle {
    font-size: 2.6rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 6rem;
  }

  &__subtitle {
    @include tablet {
    font-size: 1.7rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 1rem;    
    }
  }

  &__subtitle--width {
    @include tablet {
      max-width: 28%;
    }
  }

  &__subtitle--width {
    @include phone {
      font-size: 2.5rem;
      max-width: 66%;
    }
  }

  &__subtitle--width {
    @include phone-average {
      font-size: 2.4rem;
      max-width: 75%;
    }
  }

  &__arrow--one {
    position: absolute;
    top: 3.1rem;
    left: 23rem;   
  }
  
  &__svg {
    @include tablet {
      display: none;      
    }
  }

  &__svg--tablet {
    width: 100%;
  }

  
  &__arrow--two {
    display: none;
  }

  &__arrow--two {
    @include tablet {
      display: inline;      
      position: absolute;
      max-width: 100%;
      top: 8rem;
      left: 2rem;
    }
  }

  &__video--tablet {
    display: none;
  }

  &__video--tablet {
    @include tablet {
      display: inline;      
    }
  }

  &__img {
    
      max-width: 100%;
    
  }

  &__img--size {
    @include tablet {
      max-width: 100%;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: calc(50% + 105px);
  }

  &__video {
    @include tablet {
      display: none;
    }
  }

  &__preview {
    max-width: 100%;
    height: auto;
  }

  &__preview--tablet {
    @include tablet {
      width: 100%;
      height: auto;
    }
  }

  &__btn {
    max-width: 57.5rem;
    height: 11.8rem;
    line-height: 4.4rem;
    margin-bottom: 5.5rem;
    text-align: center;
    background-color: #21201f;
    border-radius: 3.5rem;
    line-height: 2.4rem;
    border: 0.06rem solid transparent;
    padding: 2.5rem 4rem 3.1rem;
  }

  &__btn {
    @include tablet {
    width: 100%;
    height: auto;
    line-height: 4.4rem;
    margin-bottom: 5.5rem;
    text-align: start;
    background-color: #21201f;
    border-radius: 3.5rem;
    line-height: 2.4rem;
    border: 0.06rem solid transparent;
    padding: 1rem 1rem 1rem;
    }    
      
 }    
  

  &__roll {
    font-size: 3.3rem;
    font-weight: 800;
    color: #fff;
  }

  &__roll {
    @include tablet {
      font-size: 2.1rem;
    font-weight: 800;
    color: #fff;
    }
  }
}
