//Search
.search {
  & {
    background: #fff;
    border-radius: 3.5rem 3.5rem 0 0;
    height: 76.1rem;
    padding-top: 10rem;
  }

  &__container {
    width: 57.5rem;
    padding-left: 12.5rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: 900;
    color: #333;
    margin-bottom: 1.8rem;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 600;
    line-height: 130%;
    color: #333;
    margin-bottom: 5rem;
    width: 50rem;
  }

  &__map {
    min-height: 41rem;
    margin-bottom: 5rem;
    border-radius: 3.5rem;
    overflow: hidden;
  }
}
