//Wrapper
.wrapper {
  & {
    background-color: rgb(255, 222, 64);
    overflow: hidden;
    min-height: 100%;
    display: flex;
    padding-top: 8.1rem;
    flex-direction: column;
  }
}
